{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <!-- <div class="w-100 bg-cover" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}');">

        </div> -->
        <img style="width: 100%;object-fit: cover;" src="{{ .Params.Image | relURL }}"
          class="img-fluid w-100">
      </div>
    </div>
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col-12 col-xl-9 order-1 col-sm-6 mb-xl-0">
        <h2>{{ .Title }}</h2>
      </div>

      <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        <a href="{{ .Params.Apply_url | safeURL }}" class="btn btn-primary">{{ .Params.Apply_name }}</a>
      </div>
      <!-- border -->
      <div class="col-12  order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- product details -->
    <div class="row">
      <div class="col-12 mb-5 newsbody">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /section -->

<!-- related course -->
<!-- <section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "related_product" }}</h2>
      </div>
    </div>
    <div class="row">
      {{ $related := (where .Site.RegularPages "Type" "product") | intersect (where .Site.Pages ".Title" "!=" .Title) | union (.Site.RegularPages.Related . ) | shuffle | first 3}}
      {{ range first 3 $related }}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "product"}}
      </div>
      {{ end }}
    </div>
  </div>
</section> -->
<!-- /related course -->

{{ end }}