{{ define "main" }}

<!-- courses -->
<section class="section pt-2 pt-lg-4">
  <div class="container">
    <div class="row justify-content-start">
      <div class="accordion col-12" id="accordionExample">
        <div class="card border rounded-0 hover-shadow my-2" >
          <div class="border-bottom" style="background: transparent;" id="headingOne">
              <button style="width: 100%;font-weight:800;color:#066bd8;text-decoration:none" class="btn px-3 px-lg-5" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="text-left">
                  <h3 class="card-title">人工智能专家/科学家 1名</h4>
                  <p>技术研发部</p>
                </div>
                <div class="recruitment-contact-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
                    <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"></path>
                  </svg>
                </div>
              </button>
          </div>
      
          <div id="collapseOne" class="collapse show px-3 px-lg-5 pt-3 pb-5" aria-labelledby="headingOne" data-parent="#accordionExample">
            <h4>职位描述：</h3>
              <ol>
                <li>1、根据部门内部的研发需求，搭建机器学习相关框架，提供机器学习相关支持；</li>
                <li>2、负责机器学习相关数据的处理、特征提取和模型训练等，对最新技术进行跟踪和应用；</li>
                <li>3、负责 AI 算法研究团队的建设和日常管理；</li>
                <li>4、根据研发需求，负责相关机器学习算法的改进和优化；</li>
                <li>5、负责人工智能领域前沿技术的研究与实现；</li>
              </ol>
              <br>
              <h4>任职要求：</h3>
              <ol>
                <li>1、必须拥有或将获得博士学位（211或985高校，包括国外知名重点高校、人工智能实验室），计算机或相关专业, 有深度学习项目经验者优先；</li>
                <li>2、有3年以上相关科研和工作成绩，如发表过有影响力的论文，主导或参与过有市场影响力的AI产品或开源项目的研发等；具备前沿技术视野；</li>
                <li>3、热衷技术创新与学术开拓，具备较强的沟通和资源整合能力；</li>
                <li>4、有较强的算法基础和编码能力，对机器学习和深度学习的分类、回归、神经网络等常见算法的实现原理和应用场景有明确的认识；</li>
                <li>5、对特征工程有深入了解，能够根据业务需求抽象出算法模型，并进行具体实现；</li>
                <li>6、熟悉 Caffe，Tensorflow，Keras，有大数据平台相关经验。</li>
              </ol>
          </div>
        </div>
        <div class="card border rounded-0 hover-shadow my-2">
          <div class="border-bottom" style="background: transparent;" id="headingTwo">
            <h5 class="mb-0">
              <button style="width: 100%;font-weight:800;color:#066bd8;text-decoration:none" class="btn px-3 px-lg-5 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="text-left">
                  <h3 class="card-title">人工智能算法工程师 2名</h4>
                  <p>技术研发部</p>
                </div>
                <div class="recruitment-contact-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
                    <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"></path>
                  </svg>
                </div>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse px-3 px-lg-5 pt-3 pb-5" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <h4>职位描述：</h3>
              <ol>
                <li>1、了解应用场景特点和客户需求，编写需求说明书；</li>
                <li>2、组织人员编写软件概要设计和详细设计方案；</li>
                <li>3、主导若干和人工智能技术相关的核心模块开发；</li>
                <li>4、配合其他同事，完成对应的项目申报书和产品说明书；</li>
                <li>5、跟踪和分析AI技术最新发展，并研究这些技术在不同场景中的应用可行性；</li>
              </ol>
              <br>
              <h4>任职要求：</h3>
              <ol>
                <li>1、必须拥有或将获得博士学位（211或985高校，包括国外知名重点高校、人工智能实验室），计算机或相关专业, 有深度学习项目经验者优先；</li>
                <li>2、有3年以上相关科研和工作成绩，如发表过有影响力的论文，主导或参与过有市场影响力的AI产品或开源项目的研发等；具备前沿技术视野；</li>
                <li>3、热衷技术创新与学术开拓，具备较强的沟通和资源整合能力；</li>
                <li>4、有较强的算法基础和编码能力，对机器学习和深度学习的分类、回归、神经网络等常见算法的实现原理和应用场景有明确的认识；</li>
                <li>5、对特征工程有深入了解，能够根据业务需求抽象出算法模型，并进行具体实现；</li>
                <li>6、熟悉 Caffe，Tensorflow，Keras，有大数据平台相关经验。</li>
              </ol>
          </div>
        </div>
        <div class="card border rounded-0 hover-shadow my-2">
          <div class="border-bottom" style="background: transparent;" id="headingThree">
            <h5 class="mb-0">
              <button style="width: 100%;font-weight:800;color:#066bd8;text-decoration:none" class="btn px-3 px-lg-5 collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="text-left">
                  <h3 class="card-title">人事经理 1名</h4>
                  <p>人事行资部</p>
                </div>
                <div class="recruitment-contact-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
                    <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"></path>
                  </svg>
                </div>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse px-3 px-lg-5 pt-3 pb-5" aria-labelledby="headingThree" data-parent="#accordionExample">
            <h4>职位描述：</h3>
              <ol>
                <li>1、按照公司总体战略要求及经营发展目标，制定并实施公司人力资源战略及中长期人力资源规划；</li>
                <li>2、对公司组织架构提供合理建议，完善人才管理机制，构建人才梯队，建立科学合理、具有激励性的管理体系；</li>
                <li>3、研究、设计适合公司发展的人力资源管理模式（包含招聘、绩效、培训、薪酬及员工发展等体系的全面建设）；</li>
                <li>4、依据公司业务目标，建立全面有效的绩效方式和考核办法，组织实施绩效考核，并对各部门绩效评价过程进行监督控制，不断完善绩效管理体系；</li>
                <li>5、根据公司发展战略及价值导向，领导营造良好的企业文化氛围，塑造和强化公司价值观，推进公司企业文化建设，不断提高组织和团队的战斗力；</li>
                <li>6、有效规避各类劳动风险，及时处理各类劳动关系异常事件；</li>
                <li>7、完成总经理临时交办的各项工作任务。</li>
              </ol>
              <br>
              <h4>任职要求：</h3>
              <ol>
                <li>1、本科以上学历， 5年以上大型互联网上市公司HRM职位或100人以上团队3年以上HRD职位经验优先考虑；</li>
                <li>2、具有丰富的人力资源管理体系建设经验，擅长组织变革、组织发展和绩效管理 ;</li>
                <li>1、	有战略思维和高度，精通人力资源管理各个模块,能够独立设计和开展各项人力资源专项工作;</li>
                <li>4、具备较强的计划性和实施执行的能力、团队领导能力，责任心、事业心；</li>
                <li>5、拒绝空谈，实干型人才，有格局、有思想、能落地、能实操，职业素养佳。</li>
              </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- 旧：岗位 item -->
    <!-- <div class="border rounded-0 hover-shadow mb-0 mb-xl-5 row justify-content-center">
      <div class="card-body col-xl-10 pt-3">
        <h3 class="card-title">人工智能专家/科学家 1名</h4>
        <a class="recruitment-contact-icon " href="mailto:info@shaiic.com" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
          </svg>
        </a>
        <p>技术研发部</p>
        <h4>职位描述：</h3>
        <ol>
          <li>1、根据部门内部的研发需求，搭建机器学习相关框架，提供机器学习相关支持；</li>
          <li>2、负责机器学习相关数据的处理、特征提取和模型训练等，对最新技术进行跟踪和应用；</li>
          <li>3、负责 AI 算法研究团队的建设和日常管理；</li>
          <li>4、根据研发需求，负责相关机器学习算法的改进和优化；</li>
          <li>5、负责人工智能领域前沿技术的研究与实现；</li>
        </ol>
        <h4>任职要求：</h3>
        <ol>
          <li>1、必须拥有或将获得博士学位（211或985高校，包括国外知名重点高校、人工智能实验室），计算机或相关专业, 有深度学习项目经验者优先；</li>
          <li>2、有3年以上相关科研和工作成绩，如发表过有影响力的论文，主导或参与过有市场影响力的AI产品或开源项目的研发等；具备前沿技术视野；</li>
          <li>3、热衷技术创新与学术开拓，具备较强的沟通和资源整合能力；</li>
          <li>4、有较强的算法基础和编码能力，对机器学习和深度学习的分类、回归、神经网络等常见算法的实现原理和应用场景有明确的认识；</li>
          <li>5、对特征工程有深入了解，能够根据业务需求抽象出算法模型，并进行具体实现；</li>
          <li>6、熟悉 Caffe，Tensorflow，Keras，有大数据平台相关经验。</li>
        </ol>
      </div>
    </div>
    <div class="border rounded-0 hover-shadow mb-0 mb-xl-5 row justify-content-center">
      <div class="card-body col-xl-10">
        <h3 class="card-title">人工智能算法工程师 2名 </h4>
        <a class="recruitment-contact-icon " href="mailto:info@shaiic.com" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
          </svg>
        </a>
        <p>技术研发部</p>
        <h4>职位描述：</h3>
        <ol>
          <li>1、了解应用场景特点和客户需求，编写需求说明书；</li>
          <li>2、组织人员编写软件概要设计和详细设计方案；</li>
          <li>3、主导若干和人工智能技术相关的核心模块开发；</li>
          <li>4、配合其他同事，完成对应的项目申报书和产品说明书；</li>
          <li>5、跟踪和分析AI技术最新发展，并研究这些技术在不同场景中的应用可行性；</li>
        </ol>
        <h4>任职要求：</h3>
        <ol>
          <li>1、必须拥有或将获得博士学位（211或985高校，包括国外知名重点高校、人工智能实验室），计算机或相关专业, 有深度学习项目经验者优先；</li>
          <li>2、有3年以上相关科研和工作成绩，如发表过有影响力的论文，主导或参与过有市场影响力的AI产品或开源项目的研发等；具备前沿技术视野；</li>
          <li>3、热衷技术创新与学术开拓，具备较强的沟通和资源整合能力；</li>
          <li>4、有较强的算法基础和编码能力，对机器学习和深度学习的分类、回归、神经网络等常见算法的实现原理和应用场景有明确的认识；</li>
          <li>5、对特征工程有深入了解，能够根据业务需求抽象出算法模型，并进行具体实现；</li>
          <li>6、熟悉 Caffe，Tensorflow，Keras，有大数据平台相关经验。</li>
        </ol>
      </div>
    </div>
    <div class="border rounded-0 hover-shadow mb-0 mb-xl-5 row justify-content-center">
      <div class="card-body col-xl-10">
        <h4 class="card-title">人事经理 1名 </h4>
        <a class="recruitment-contact-icon " href="mailto:info@shaiic.com" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
          </svg>
        </a>
        <p>人事行资部</p>
        <h4>职位描述：</h3>
        <ol>
          <li>1、按照公司总体战略要求及经营发展目标，制定并实施公司人力资源战略及中长期人力资源规划；</li>
          <li>2、对公司组织架构提供合理建议，完善人才管理机制，构建人才梯队，建立科学合理、具有激励性的管理体系；</li>
          <li>3、研究、设计适合公司发展的人力资源管理模式（包含招聘、绩效、培训、薪酬及员工发展等体系的全面建设）；</li>
          <li>4、依据公司业务目标，建立全面有效的绩效方式和考核办法，组织实施绩效考核，并对各部门绩效评价过程进行监督控制，不断完善绩效管理体系；</li>
          <li>5、根据公司发展战略及价值导向，领导营造良好的企业文化氛围，塑造和强化公司价值观，推进公司企业文化建设，不断提高组织和团队的战斗力；</li>
          <li>6、有效规避各类劳动风险，及时处理各类劳动关系异常事件；</li>
          <li>7、完成总经理临时交办的各项工作任务。</li>
        </ol>
        <h4>任职要求：</h3>
        <ol>
          <li>1、本科以上学历， 5年以上大型互联网上市公司HRM职位或100人以上团队3年以上HRD职位经验优先考虑；</li>
          <li>2、具有丰富的人力资源管理体系建设经验，擅长组织变革、组织发展和绩效管理 ;</li>
          <li>1、	有战略思维和高度，精通人力资源管理各个模块,能够独立设计和开展各项人力资源专项工作;</li>
          <li>4、具备较强的计划性和实施执行的能力、团队领导能力，责任心、事业心；</li>
          <li>5、拒绝空谈，实干型人才，有格局、有思想、能落地、能实操，职业素养佳。</li>
        </ol>
      </div>
    </div> -->

    <!-- 所有岗位要求 -->
    <!-- <div class="border-0 rounded-0 hover-shadow mb-0 mb-xl-5 row justify-content-center" style="background-color: rgb(24,43,69); color: white;">
      <div class="card-body col-xl-10 pt-3" >
        <h3 style="color: white;" >所有岗位基本要求：</h2>
        <ol>
          <li>有责任心，工作热情、耐心、踏实、严谨，有团队合作精神；</li>
          <li>具备良好的学习能力和逻辑思维能力，具有强烈的探索和求知欲，能迅速进行机器学习研究或探索新框架使用；</li>
          <li>出色的沟通能力，能承受一定工作压力，喜欢自我驱动的工作；</li>
          <li>具备较强的动手实践能力；</li>
          <li>具备一定的抗压能力，有能力应对来自工作上的各种压力，不玻璃心。</li>
        </ol>
      </div>
    </div> -->
  </div>
</section>
<!-- /courses -->

{{ end }}