// Color Variables
// $primary-color: rgb(68, 60, 229);
// $secondary-color: rgba(17, 23, 36, 0.9);
// $text-color: #5c5c77;
// $text-color-light: #8585a4;
// $text-color-dark: #1e1e4b;
// $body-color: #fff;
// $border-color: #ededf1;
// $light-blue:rgb(49, 130, 223);
// $light: #f8f9fe;
// $dark: #f8f8f8;
// $overlay-color: linear-gradient(to right, rgb(7, 10, 15), rgba(17, 23, 36, 0.3));
// $overlay-light:rgba(0, 0, 0, 0.5);
// $white: #fff;

// Font Variables
$primary-font: 'Poppins',
sans-serif;
$secondary-font: "PingFang SC",
"Hiragino Sans GB",
"Heiti SC",
"Microsoft YaHei",
"WenQuanYi Micro Hei";
;
$icon-font: 'themify';